<div id="reactions" hx-swap-oob="beforeend">
  <div
    hx-on:animationend="this.remove()"
    class="fixed bottom-4 right-8 fly-up-animation"
  >
    <div
      class="relative w-10 aspect-square rounded-full bg-gradient-to-l from-rose-500/20 to-yellow-500/20 backdrop-blur-md flex"
    >
      <span
        class="absolute -top-1 left-0 block text-[8px] w-3 aspect-square rounded-full {{ color }} font-semibold text-neutral-100 text-center"
      >
        {{ initial }}
      </span>
      <iconify-icon
        icon="{{ emoji }}"
        height="1.5rem"
        class="m-auto"
      ></iconify-icon>
    </div>
  </div>
</div>
