<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font.css" />
    <!-- if title is not defined in the child template, use the default title -->
    <title>{% block title %}HTMX 💡{% endblock %}</title>
  </head>
  <body class="bg-slate-100 flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col gap-4">
      <a
        href={{ url_for("part_one") }}
        class="text-center block bg-blue-500 px-4 py-2 rounded font-bold text-white tracking-wide text-2xl active:bg-blue-500 hover:bg-blue-400/80"
      >
        Conceptos Básicos
      </a>
      <a
        href={{ url_for("kuaatata_sign_up") }}
        class="block text-center bg-green-500 px-4 py-2 rounded font-bold text-white tracking-wide text-2xl active:bg-green-500 hover:bg-green-400/80"
      >
        Implementación
      </a>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  </body>
</html>
