{% extends 'app_base.html' %}
{% block title %}
  Kuaatata |
  {{ user.name }}
{% endblock %}
{% block content %}
  <main class="w-full h-full flex flex-col pb-8">
    <header class="bg-gradient-to-l from-rose-500 to-yellow-500 text-white p-4 pb-14 flex justify-center">
      <h1 class="font-semibold text-lg text-center opacity-90">kuaatata</h1>
    </header>
    <form id='profile-form' class="relative flex flex-col bg-neutral-100 w-full flex-1 px-8 gap-4 text-neutral-800 rounded-t-3xl -mt-6" hx-put="/user" hx-target="#profile-form" hx-indicator="#loading" hx-trigger="submit" hx-select='#profile-form' hx-swap="outerHTML">
      <div class='border-4 border-[#EF7933] bg-neutral-100 text-[#EF7933] aspect-square text-4xl font-bold w-20 rounded-full mx-auto flex items-center justify-center -mt-8'>
        {{ user_initial }}
      </div>
      <div class="col-gap-1">
        <label class="label" for="name">Nombre</label>
        <input class="input input-valid" type="text" name="name" placeholder="Escribe tu nombre" autocomplete="off" min="2" required="required" value="{{ user.name }}"/>
      </div>
      <div class="col-gap-1">
        <label class="label" for="email">Correo</label>
        <input class="input input-valid" type="email" name="email" placeholder="Escribe tu correo" autocomplete="off" required="required" value="{{ user.email }}"/>
      </div>
      <div class="col-gap-1">
        <label class="label" for="phone">Teléfono</label>
        <input class="input input-valid" type="tel" pattern="[0-9]{10}" name="phone" placeholder="Escribe tu teléfono" autocomplete="off" required="required" value="{{ user.phone }}"/>
      </div>
      <div class='mt-auto'>
        <div id="message">
          {{ message|safe }}
        </div>
        <button type="submit" class="w-full py-3 mt-2 rounded-lg bg-amber-500 text-white tracking-wide font-bold shadow-md shadow-amber-500/50">
          Guardar
        </button>
      </div>
    </form>
    <button type="submit" class="border-neutral-400 text-neutral-600 border-2 py-2 text-sm rounded-lg tracking-wide font-bold shadow-md shadow-neutral-500/10 mx-8 mt-4" hx-post="/sign-out">
      Cerrar sesión
    </button>
  </main>
{% endblock %}