<div class="bg-slate-800 w-1/2 px-3 py-2 rounded text-center m-auto">
  <span
    class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-purple-400 to-rose-500"
  >
    {{ .hour }} : {{ .minute }}
  </span>
  <br />
  <span class="text-white text-sm">
    {{ .day }} {{ .month }}, {{ .week_day }}
  </span>
</div>
